kestra/flows/self-healing-pipeline.yaml
id: failure-intake-rca
namespace: company.self-healing

description: |
  Unified Self-Healing Pipeline (triggered by AutoHeal Backend)
  1. Receives CI failure data from backend
  2. Normalizes logs
  3. Uses Gemini 2.0 Flash for Root Cause Analysis
  4. Generates code fix
  5. Creates branch, commits fix, opens PR

labels:
  project: autoheal-2.0
  stage: unified-pipeline
  ai_model: gemini-2.0-flash

inputs:
  - id: repository
    type: STRING
    required: true
  - id: branch
    type: STRING
    defaults: "main"
  - id: job_name
    type: STRING
    required: true
  - id: error_message
    type: STRING
    required: true
  - id: error_logs
    type: STRING
    required: true
  - id: github_token
    type: STRING
    required: true
  - id: commit_sha
    type: STRING
    defaults: ""
  - id: gemini_api_key
    type: STRING
    defaults: ""

tasks:
  # ============================================
  # STEP 1: Extract & Validate Inputs
  # ============================================
  - id: extract_inputs
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
      networkMode: bridge
    env:
      REPOSITORY: "{{ inputs.repository }}"
      BRANCH: "{{ inputs.branch }}"
      JOB_NAME: "{{ inputs.job_name }}"
      ERROR_MESSAGE: "{{ inputs.error_message }}"
      ERROR_LOGS: "{{ inputs.error_logs }}"
      GITHUB_TOKEN: "{{ inputs.github_token }}"
      COMMIT_SHA: "{{ inputs.commit_sha }}"
      GEMINI_API_KEY: "{{ inputs.gemini_api_key }}"
    outputFiles:
      - "inputs.json"
    script: |
      import os, json

      data = {
          "repository": os.getenv("REPOSITORY", ""),
          "branch": os.getenv("BRANCH", "main"),
          "job_name": os.getenv("JOB_NAME", ""),
          "error_message": os.getenv("ERROR_MESSAGE", ""),
          "error_logs": os.getenv("ERROR_LOGS", ""),
          "github_token": os.getenv("GITHUB_TOKEN", ""),
          "commit_sha": os.getenv("COMMIT_SHA", ""),
          "gemini_api_key": os.getenv("GEMINI_API_KEY", "")
      }

      with open("inputs.json", "w") as f:
          json.dump(data, f, indent=2)

      print(f"✅ Inputs extracted for: {data['repository']}")

  # ============================================
  # STEP 2: Log Intake
  # ============================================
  - id: log_intake
    type: io.kestra.plugin.core.log.Log
    message: |
      🚀 AUTOHEAL PIPELINE STARTED
      Repo: {{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).repository }}
      Error: {{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).error_message }}

  # ============================================
  # STEP 3: Normalize Logs
  # ============================================
  - id: normalize_logs
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
      networkMode: bridge
    env:
      RAW_LOGS: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).error_logs }}"
    outputFiles:
      - "normalized_logs.json"
    script: |
      import os, json, re

      raw = os.getenv('RAW_LOGS', '')
      # Strip ANSI codes
      clean = re.sub(r'\x1B(?:[@-Z\\-_]|\[[0-?]*[ -/]*[@-~])', '', raw)

      lines = clean.splitlines()
      error_lines = [line.strip() for line in lines if any(x in line.lower() for x in ['error', 'exception', 'failed', 'traceback'])]

      normalized = {
          "clean_logs": clean[:20000],
          "error_lines": error_lines[:20]
      }

      with open("normalized_logs.json", 'w') as f:
          json.dump(normalized, f)

      print(f"✅ Logs normalized. Found {len(error_lines)} error lines.")

  # ============================================
  # STEP 4: AI Root Cause Analysis (Gemini 2.0)
  # ============================================
  - id: ai_root_cause_analysis
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
      networkMode: host
    beforeCommands:
      - pip install google-generativeai
    env:
      GEMINI_API_KEY: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).gemini_api_key }}"
      REPOSITORY: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).repository }}"
      ERROR_LOGS: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).error_logs }}"
    outputFiles:
      - "ai_response.json"
    script: |
      import os, json
      import google.generativeai as genai

      key = os.getenv('GEMINI_API_KEY')
      if not key: raise ValueError("Missing Gemini API Key")

      genai.configure(api_key=key)

      repo = os.getenv('REPOSITORY')
      logs = os.getenv('ERROR_LOGS')[:30000]

      schema_hint = '''
      {
        "error_type": "string",
        "failed_file": "path/to/file",
        "failed_line": int,
        "root_cause": "string",
        "fix_plan": "string",
        "confidence_score": float
      }
      '''

      prompt = f"""
      You are a Senior Site Reliability Engineer. Analyze this CI failure for repo {repo}.

      ## CRITICAL RULES FOR DIAGNOSIS
      1. **Distinguish Messenger vs. Culprit:** If a test file fails on an assertion,
         the bug is likely in the source code, NOT the test file.
      2. **Target File Identification:** `failed_file` must be the SOURCE CODE file
         that contains the logic error.
      3. **Fix Plan:** Never suggest changing the test expectation. Fix the logic in source code.

      ## Logs
      {logs}

      ## Required JSON Output
      Return ONLY a JSON object.
      {schema_hint}
      """

      print("🤖 Calling Gemini 2.0 Flash for RCA...")
      model = genai.GenerativeModel('models/gemini-2.0-flash')
      response = model.generate_content(prompt)

      with open("ai_response.json", "w") as f:
          json.dump({"content": response.text}, f)

      print("✅ AI Analysis Complete.")

  # ============================================
  # STEP 5: Parse AI Response
  # ============================================
  - id: parse_rca_response
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
      networkMode: bridge
    env:
      AI_RESPONSE: "{{ json(read(outputs.ai_root_cause_analysis.outputFiles['ai_response.json'])).content }}"
      REPO: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).repository }}"
    outputFiles:
      - "rca_result.json"
    script: |
      import os, json, re, sys

      try:
          raw = os.getenv('AI_RESPONSE', '')
          clean = re.sub(r'```json|```', '', raw).strip()

          rca = {}
          try:
              rca = json.loads(clean)
          except Exception as e:
              print(f"❌ JSON Parse Failed: {e}")
              rca = {"root_cause": f"Parsing Failed: {e}", "confidence_score": 0.0}

          final_rca = {
              "repository": os.getenv('REPO'),
              "root_cause": rca.get('root_cause', "Unknown Cause"),
              "target_file": rca.get('failed_file', rca.get('target_file')),
              "fix_plan": rca.get('fix_plan', "Manual Review"),
              "confidence_score": rca.get('confidence_score', 0.0)
          }

          with open("rca_result.json", 'w') as f:
              json.dump(final_rca, f, indent=2)

          print(f"✅ RCA Result Saved. Target File: {final_rca.get('target_file')}")

      except Exception as main_err:
          print(f"❌ Critical Script Error: {main_err}")
          with open("rca_result.json", 'w') as f:
              json.dump({"error": str(main_err), "fix_successful": False}, f)
          sys.exit(1)

  # ============================================
  # STEP 6: Clone, Fix, Commit, Push, Create PR
  # ============================================
  - id: clone_fix_and_pr
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11
      networkMode: host
    beforeCommands:
      - pip install google-generativeai requests
    env:
      RCA_JSON_INPUT: "{{ read(outputs.parse_rca_response.outputFiles['rca_result.json']) }}"
      REPO: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).repository }}"
      BRANCH: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).branch }}"
      TOKEN: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).github_token }}"
      GEMINI_KEY: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).gemini_api_key }}"
    outputFiles:
      - result.json
    script: |
      import os, subprocess, json, sys, time, re, requests
      import google.generativeai as genai

      # 1. Load inputs
      REPO = os.getenv('REPO')
      BRANCH = os.getenv('BRANCH')
      TOKEN = os.getenv('TOKEN')
      GEMINI_KEY = os.getenv('GEMINI_KEY')

      if not TOKEN or len(TOKEN) < 10:
          print("❌ Error: GitHub Token is missing or invalid!")
          sys.exit(1)

      # 2. Parse RCA
      raw_rca = os.getenv('RCA_JSON_INPUT', '{}')
      try:
          RCA = json.loads(raw_rca)
      except Exception as e:
          print(f"❌ Error parsing RCA: {e}")
          sys.exit(1)

      target_file = RCA.get("target_file")
      if not target_file or target_file == "None":
          print("❌ No target file identified. Cannot proceed.")
          with open("result.json", "w") as f:
              json.dump({"fix_successful": False, "last_error": "no_target_file"}, f)
          sys.exit(0)

      # 3. Clone repo
      subprocess.call(["git", "config", "--global", "user.email", "bot@autoheal.dev"])
      subprocess.call(["git", "config", "--global", "user.name", "AutoHeal Bot"])

      print(f"📥 Cloning {REPO}...")
      git_url = f"https://x-access-token:{TOKEN}@github.com/{REPO}.git"
      clone_cmd = ["git", "clone", git_url, "--branch", BRANCH, "--single-branch", "repo"]

      if subprocess.call(clone_cmd) != 0:
          print("❌ Clone failed!")
          with open("result.json", "w") as f:
              json.dump({"fix_successful": False, "last_error": "clone_failed"}, f)
          sys.exit(0)

      full_path = f"repo/{target_file}"
      if not os.path.exists(full_path):
          print(f"❌ File '{target_file}' not found in repo.")
          with open("result.json", "w") as f:
              json.dump({"fix_successful": False, "last_error": "file_not_found"}, f)
          sys.exit(0)

      print(f"📄 Reading {full_path}...")
      original_code = open(full_path).read()

      # 4. Generate fix with Gemini
      print("🤖 Generating AI fix...")
      genai.configure(api_key=GEMINI_KEY)

      prompt = f"""
      You are an Autonomous Senior Software Engineer.

      ## MISSION
      Fix a confirmed bug in the following file.

      ## CONTEXT
      - **Repository:** {REPO}
      - **File:** {target_file}
      - **Root Cause Analysis:** {RCA.get('root_cause')}
      - **Fix Plan:** {RCA.get('fix_plan')}

      ## RULES
      1. Only fix the specific bug. Do not refactor unrelated code.
      2. Keep all imports, class structures, and comments.
      3. Return ONLY the complete, valid source code. No markdown blocks.

      ## ORIGINAL CODE
      {original_code}
      """

      model = genai.GenerativeModel("models/gemini-2.0-flash")
      fixed_code_raw = model.generate_content(prompt).text

      # 5. Clean output
      clean_code = re.sub(r'^```[a-z]*\n', '', fixed_code_raw, flags=re.MULTILINE)
      clean_code = re.sub(r'\n```$', '', clean_code, flags=re.MULTILINE).strip()

      with open(full_path, "w") as f:
          f.write(clean_code)

      print(f"✅ Applied fix to {target_file}")

      # 6. Commit & Push
      FIX_BRANCH = f"fix/autoheal-{int(time.time())}"

      subprocess.call(["git", "-C", "repo", "checkout", "-b", FIX_BRANCH])
      subprocess.call(["git", "-C", "repo", "add", target_file])
      subprocess.call(["git", "-C", "repo", "commit", "-m",
          f"🤖 AutoHeal Fix: {str(RCA.get('root_cause', 'Fix'))[:50]}..."])

      print(f"📤 Pushing branch {FIX_BRANCH}...")
      push_result = subprocess.call(["git", "-C", "repo", "push", git_url, FIX_BRANCH])

      if push_result != 0:
          print("❌ Push failed!")
          with open("result.json", "w") as f:
              json.dump({"fix_successful": True, "push_successful": False, "last_error": "push_failed"}, f)
          sys.exit(0)

      # 7. Create PR
      print("📋 Creating Pull Request...")
      root_cause = RCA.get('root_cause', 'Automated Fix')
      title = f"🤖 AutoHeal Fix: {root_cause[:60]}"
      body = f"""### 🤖 AutoHeal — AI-Generated Fix

      **Root Cause:** {root_cause}
      **Target File:** {target_file}
      **Fix Plan:** {RCA.get('fix_plan', 'N/A')}
      **Confidence:** {RCA.get('confidence_score', 'N/A')}

      ---
      _Generated automatically by AutoHeal 2.0_
      """

      url = f"https://api.github.com/repos/{REPO}/pulls"
      headers = {"Authorization": f"token {TOKEN}", "Accept": "application/vnd.github.v3+json"}
      payload = {"title": title, "body": body, "head": FIX_BRANCH, "base": BRANCH}

      resp = requests.post(url, headers=headers, json=payload)
      pr_data = {}

      if resp.status_code == 201:
          data = resp.json()
          print(f"✅ PR Created: {data['html_url']}")
          pr_data = {"pr_created": True, "pr_number": data["number"], "pr_url": data["html_url"]}
      elif resp.status_code == 422 and "already exists" in resp.text:
          print("⚠️ PR already exists.")
          list_url = f"https://api.github.com/repos/{REPO}/pulls?head={REPO.split('/')[0]}:{FIX_BRANCH}&base={BRANCH}"
          list_resp = requests.get(list_url, headers=headers)
          if list_resp.status_code == 200 and len(list_resp.json()) > 0:
              data = list_resp.json()[0]
              pr_data = {"pr_created": False, "pr_number": data["number"], "pr_url": data["html_url"]}
          else:
              pr_data = {"pr_created": False, "last_error": "existing_pr_not_found"}
      else:
          print(f"❌ PR Error: {resp.status_code} - {resp.text}")
          pr_data = {"pr_created": False, "last_error": f"pr_creation_failed_{resp.status_code}"}

      # 8. Final result
      result = {
          "fix_successful": True,
          "push_successful": True,
          "fix_branch": FIX_BRANCH,
          "base_branch": BRANCH,
          "target_file": target_file,
          "root_cause": root_cause,
          **pr_data
      }

      with open("result.json", "w") as f:
          json.dump(result, f, indent=2)

      print("🎉 AutoHeal Pipeline Complete!")

outputs:
  - id: pipeline_result
    type: STRING
    value: "{{ read(outputs.clone_fix_and_pr.outputFiles['result.json']) }}"
  - id: rca_json
    type: STRING
    value: "{{ read(outputs.parse_rca_response.outputFiles['rca_result.json']) }}"
